<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huhx0015.gotherenow"
    android:installLocation="auto">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Indicates full support for tablets. Needed to avoid the "Designed for Phones" tag in the Google Play Store. -->
    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/gtn_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:launchMode="singleInstance"
        android:name=".application.GTNApplication">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_places_api_key"/>

        <activity
            android:name=".activities.GTNMainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <provider
            android:name=".data.GTNContentProvider"
            android:authorities="com.huhx0015.gotherenow"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true"/>

        <service
            android:name=".widget.GTNWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver
            android:name=".widget.GTNWidgetProvider"
            android:label="@string/app_name"
            android:icon="@drawable/gtn_icon">

            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/go_there_now_widget"/>
        </receiver>

        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

    </application>

</manifest>
